<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">

  <section class="page__hero hero">
    <div class="hero__container">
      <div class="hero__header">
        <h1 class="hero__title">Full dedicated<br>team for your project</h1>
        <div class="hero__text">
          <p>We offer tailored, cost-optimized Mobile Apps development solutions</p>
        </div>
        <a href="#" class="hero__btn btn --icon-arrow btn_arr">View Portfolio</a>
      </div>

    </div>

    <div class="hero__slider-wrapper">
      <div class="hero__container">
        <div class="hero__slider swiper" data-fls-slider>
          <div class="hero__swiper swiper-wrapper">


            <div class="hero__slide swiper-slide slide-hero slide-hero_blue">
              <div class="slide-hero__body">
                <div class="slide-hero__content">
                  <div class="slide-hero__title" data-swiper-parallax="-300">2Application Consulting</div>
                  <div class="slide-hero__text">
                    <p>Get expert guidance for your app development journey. We don’t just conduct standard discovery
                      and
                      audits: we dive deep into understanding your business goals and break down your initial
                      requirements
                      to a functional MVP. Our process provides you with detailed domain research, thorough product
                      audits, and step-by-step recommendations, how to bring your idea to life. We not only highlight
                      potential risks, but also propose effective alternatives to avoid them or reframe the original
                      idea
                      so that it perfectly meets our clients’ needs.</p>
                    <ul>
                      <li>Discovery & Research</li>
                      <li>App Audits & Performance Reviews</li>
                      <li>Step-by-step recommendations</li>
                    </ul>
                  </div>
                </div>
                <div class="slide-hero__img slide-hero__img_2" data-swiper-parallax="-100" style="bottom: 5px; left: -31%; width: 154%;">
                  <img src="@img/hero/2.png" alt="">
                </div>
                <div class="slide-hero__body-bg">
                  <svg width="968" height="463" viewBox="0 0 968 463" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1051.23 232.771C1017.03 276.853 923.803 378.149 823.243 429.119C787.839 447.064 745.465 451.752 700.082 449.761C654.536 447.763 603.467 438.888 549.271 427.555C439.634 404.628 316.314 371.602 186.034 357.902C87.9267 347.585 28.8434 379.447 -6.68345 420.397C-43.3639 462.677 -57.2693 517.442 -58.4966 554.588L-108.469 552.937C-106.959 507.257 -90.3679 440.558 -44.4513 387.632C2.61906 333.376 78.2341 296.29 191.264 308.176C324.905 322.23 453.395 356.424 559.505 378.613C613.182 389.838 660.971 397.997 702.274 399.809C743.74 401.628 776.205 396.905 800.638 384.521C891.557 338.437 979.354 243.849 1011.73 202.121L1051.23 232.771Z" />
                    <path
                      d="M-214.772 74.0026C-40.0155 -20.515 96.8396 -23.7496 224.014 19.1832C286.634 40.3232 346.107 72.3733 405.645 108.512C435.436 126.595 465.523 145.878 496.085 165.436C526.732 185.048 557.92 204.977 590.324 224.641C686.721 283.137 769.049 272.392 834.2 236.537C901.069 199.736 950.864 135.634 975.817 87.7204L1020.16 110.815C992.089 164.723 936.188 237.481 858.307 280.342C778.709 324.148 677.231 335.865 564.385 267.387C531.4 247.371 499.737 227.134 469.135 207.551C438.448 187.913 408.888 168.971 379.702 151.255C321.285 115.796 265.478 85.9535 208.021 66.5567C95.0418 28.4158 -27.4434 29.5298 -190.986 117.983L-214.772 74.0026Z" />
                    <path
                      d="M496.999 -61.4931C509.928 -0.132578 571.994 80.7523 657.585 109.987C699.459 124.289 746.93 126.219 797.581 107.261C848.519 88.1952 904.343 47.356 961.164 -26.716L1000.84 3.71576C939.907 83.1435 876.982 130.93 815.108 154.088C752.949 177.354 693.546 175.105 641.425 157.303C539.025 122.328 464.609 27.294 448.073 -51.1838L496.999 -61.4931Z" />
                  </svg>

                </div>
              </div>
            </div>

            <div class="hero__slide swiper-slide slide-hero">
              <div class="slide-hero__body">
                <div class="slide-hero__content">
                  <div class="slide-hero__title" data-swiper-parallax="-300">1Application Consulting</div>
                  <div class="slide-hero__text">
                    <p>Get expert guidance for your app development journey. We don’t just conduct standard discovery
                      and
                      audits: we dive deep into understanding your business goals and break down your initial
                      requirements
                      to a functional MVP. Our process provides you with detailed domain research, thorough product
                      audits, and step-by-step recommendations, how to bring your idea to life. We not only highlight
                      potential risks, but also propose effective alternatives to avoid them or reframe the original
                      idea
                      so that it perfectly meets our clients’ needs.</p>
                    <ul>
                      <li>Discovery & Research</li>
                      <li>App Audits & Performance Reviews</li>
                      <li>Step-by-step recommendations</li>
                    </ul>
                  </div>
                </div>
                <div class="slide-hero__img slide-hero__img_1" data-swiper-parallax="-100">
                  <img src="@img/hero/1.png" alt="">
                </div>
                <div class="slide-hero__body-bg">
                  <svg width="968" height="463" viewBox="0 0 968 463" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1051.23 232.771C1017.3 276.509 925.256 376.57 825.6 427.915L823.244 429.119C787.839 447.064 745.466 451.751 700.083 449.76C654.536 447.762 603.467 438.888 549.271 427.555C441.347 404.986 320.165 372.631 192.136 358.558L186.034 357.902C87.9269 347.585 28.8436 379.447 -6.68321 420.397C-43.3636 462.677 -57.269 517.442 -58.4964 554.588L-108.468 552.937C-106.959 507.257 -90.3677 440.558 -44.4511 387.632C2.6193 333.376 78.2343 296.29 191.264 308.176L197.524 308.849C328.915 323.295 455.053 356.77 559.505 378.613C613.182 389.838 660.971 397.997 702.274 399.809C743.74 401.628 776.206 396.905 800.638 384.521L802.768 383.432C892.925 336.963 979.607 243.523 1011.73 202.121L1051.23 232.771Z"
                      fill="#C88E4D" />
                    <path
                      d="M-214.772 74.0025C-40.0155 -20.5151 96.8396 -23.7497 224.014 19.1831C286.634 40.3231 346.107 72.3732 405.645 108.512C435.436 126.595 465.523 145.878 496.085 165.436C526.732 185.048 557.92 204.977 590.324 224.641L592.581 226C688.007 282.969 769.558 272.112 834.2 236.537C901.069 199.736 950.864 135.634 975.817 87.7204L1020.16 110.815C992.088 164.723 936.188 237.481 858.307 280.342C779.331 323.806 678.816 335.68 567.028 268.977L564.385 267.386C531.4 247.371 499.737 227.134 469.135 207.551C438.448 187.913 408.888 168.97 379.702 151.255C321.285 115.796 265.478 85.9534 208.021 66.5566C95.0418 28.4158 -27.4434 29.5297 -190.986 117.982L-214.772 74.0025Z"
                      fill="#C88E4D" />
                    <path
                      d="M496.999 -61.4931C509.928 -0.132578 571.994 80.7523 657.585 109.987C699.459 124.289 746.93 126.219 797.581 107.261C848.519 88.1952 904.343 47.3559 961.164 -26.716L1000.84 3.71576C939.907 83.1435 876.982 130.93 815.108 154.088C752.949 177.354 693.546 175.105 641.425 157.303C539.025 122.328 464.609 27.294 448.073 -51.1838L496.999 -61.4931Z"
                      fill="#C88E4D" />
                  </svg>


                </div>
              </div>
            </div>

            <div class="hero__slide swiper-slide slide-hero slide-hero_red">
              <div class="slide-hero__body">
                <div class="slide-hero__content">
                  <div class="slide-hero__title" data-swiper-parallax="-300">3Application Consulting</div>
                  <div class="slide-hero__text">
                    <p>Get expert guidance for your app development journey. We don’t just conduct standard discovery
                      and
                      audits: we dive deep into understanding your business goals and break down your initial
                      requirements
                      to a functional MVP. Our process provides you with detailed domain research, thorough product
                      audits, and step-by-step recommendations, how to bring your idea to life. We not only highlight
                      potential risks, but also propose effective alternatives to avoid them or reframe the original
                      idea
                      so that it perfectly meets our clients’ needs.</p>
                    <ul>
                      <li>Discovery & Research</li>
                      <li>App Audits & Performance Reviews</li>
                      <li>Step-by-step recommendations</li>
                    </ul>
                  </div>
                </div>
                <div class="slide-hero__img slide-hero__img_2" data-swiper-parallax="-100" style="bottom: 5px; left: -31%; width: 154%;">
                  <img src="@img/hero/2.png" alt="">
                </div>
                <div class="slide-hero__body-bg">
                  <svg width="968" height="463" viewBox="0 0 968 463" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1051.23 232.771C1017.3 276.509 925.256 376.57 825.6 427.915L823.244 429.119C787.839 447.064 745.466 451.751 700.083 449.76C654.536 447.762 603.467 438.888 549.271 427.555C441.347 404.986 320.165 372.631 192.136 358.558L186.034 357.902C87.9269 347.585 28.8436 379.447 -6.68321 420.397C-43.3636 462.677 -57.269 517.442 -58.4964 554.588L-108.468 552.937C-106.959 507.257 -90.3677 440.558 -44.4511 387.632C2.6193 333.376 78.2343 296.29 191.264 308.176L197.524 308.849C328.915 323.295 455.053 356.77 559.505 378.613C613.182 389.838 660.971 397.997 702.274 399.809C743.74 401.628 776.206 396.905 800.638 384.521L802.768 383.432C892.925 336.963 979.607 243.523 1011.73 202.121L1051.23 232.771Z" />
                    <path
                      d="M-214.772 74.0025C-40.0155 -20.5151 96.8396 -23.7497 224.014 19.1831C286.634 40.3231 346.107 72.3732 405.645 108.512C435.436 126.595 465.523 145.878 496.085 165.436C526.732 185.048 557.92 204.977 590.324 224.641L592.581 226C688.007 282.969 769.558 272.112 834.2 236.537C901.069 199.736 950.864 135.634 975.817 87.7204L1020.16 110.815C992.088 164.723 936.188 237.481 858.307 280.342C779.331 323.806 678.816 335.68 567.028 268.977L564.385 267.386C531.4 247.371 499.737 227.134 469.135 207.551C438.448 187.913 408.888 168.97 379.702 151.255C321.285 115.796 265.478 85.9534 208.021 66.5566C95.0418 28.4158 -27.4434 29.5297 -190.986 117.982L-214.772 74.0025Z" />
                    <path
                      d="M496.999 -61.4931C509.928 -0.132578 571.994 80.7523 657.585 109.987C699.459 124.289 746.93 126.219 797.581 107.261C848.519 88.1952 904.343 47.3559 961.164 -26.716L1000.84 3.71576C939.907 83.1435 876.982 130.93 815.108 154.088C752.949 177.354 693.546 175.105 641.425 157.303C539.025 122.328 464.609 27.294 448.073 -51.1838L496.999 -61.4931Z" />
                  </svg>


                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="hero__container">
      <ul class="hero__stack stack">
        <li class="stack__item">
          <img src="@img/stack/flutter.png" alt="">
          <div class="stack__item-text">
            Flutter
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/swift.png" alt="">
          <div class="stack__item-text">
            Swift
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/as.png" alt="">
          <div class="stack__item-text">
            Android Studio
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/kotlin.png" alt="">
          <div class="stack__item-text">
            Kotlin
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/java.png" alt="">
          <div class="stack__item-text">
            Java
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/react.png" alt="">
          <div class="stack__item-text">
            React Native
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/xamarin.png" alt="">
          <div class="stack__item-text">
            Xamarin
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/xcode.png" alt="">
          <div class="stack__item-text">
            Xcode
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/obj-c.png" alt="">
          <div class="stack__item-text">
            Objective-C
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/figma.png" alt="">
          <div class="stack__item-text">
            Figma
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/adobe-xd.png" alt="">
          <div class="stack__item-text">
            Adobe XD
          </div>
        </li>
        <li class="stack__item">
          <img src="@img/stack/sketch.png" alt="">
          <div class="stack__item-text">
            Sketch
          </div>
        </li>

      </ul>

    </div>
  </section>

  <section class="page__portfolio portfolio">
    <div class="portfolio__container">
      <h2 class="portfolio__title">
        Portfolio
      </h2>

      <div data-fls-tabs class="portfolio__tabs tabs">
        <nav data-fls-tabs-titles class="tabs__navigation">
          <button type="button" class="tabs__title --tab-active">E-commerce</button>
          <button type="button" class="tabs__title">Finance</button>
          <button type="button" class="tabs__title">Social Media</button>
          <button type="button" class="tabs__title">Other</button>
        </nav>
        <div data-fls-tabs-body class="tabs__content">
          <div class="tabs__body">
            <div class="tabs-item" data-fls-showmore="items">


              <div class="tabs-item__wrapper" data-fls-showmore-content="1">
                <div class="tabs-item__header">

                  <div class="tabs-item__img">
                    <img src="@img/portfolio/1.jpg" alt="">
                  </div>

                  <h3 class="tabs-item__title-mob">Pharma App</h3>

                  <div class="tabs-item__inner-pc">
                    <h3 class="tabs-item__title">Pharma App</h3>

                    <div class="tabs-item__info-list">
                      <div class="tabs-item__info">
                        <span>Industry:
                        </span>
                        <span>E-commerce / Finance</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Number of Employees:
                        </span>
                        <span>120+</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Headquarters:
                        </span>
                        <span>Great Britain, London</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Platform:
                        </span>
                        <span>IOS</span>
                      </div>
                    </div>

                    <div class="tabs-item__request">
                      <div class="tabs-item__request-title">Client Request:</div>
                      <div class="tabs-item__request-text">
                        <p>Develop a high-performance pharmaceutical application exclusively for iOS, designed to help
                          users
                          find detailed information about medicines and locate the nearest pharmacy for purchase. The
                          app
                          must be scalable, capable of handling large-scale user traffic while ensuring a fast,
                          intuitive
                          and comfortable user experience.</p>
                      </div>
                    </div>

                  </div>
                </div>


                <div class="tabs-item__body">
                  <div class="tabs-item__inner-mob">
                    <div class="tabs-item__info-list">
                      <div class="tabs-item__info">
                        <span>Industry:
                        </span>
                        <span>E-commerce / Finance</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Number of Employees:
                        </span>
                        <span>120+</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Headquarters:
                        </span>
                        <span>Great Britain, London</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Platform:
                        </span>
                        <span>IOS</span>
                      </div>
                    </div>
                    <div class="tabs-item__request">
                      <div class="tabs-item__request-title">Client Request:</div>
                      <div class="tabs-item__request-text">
                        <p>Develop a high-performance pharmaceutical application exclusively for iOS, designed to help
                          users
                          find detailed information about medicines and locate the nearest pharmacy for purchase. The
                          app
                          must be scalable, capable of handling large-scale user traffic while ensuring a fast,
                          intuitive
                          and comfortable user experience.</p>
                      </div>
                    </div>
                  </div>

                  <div class="tabs-item__block">
                    <div class="tabs-item__block-title">
                      Key Tasks:
                    </div>
                    <div class="tabs-item__block-text">
                      Real-Time Market Data:
                      Design and implement a user-friendly UI to display stock market data in real-time.
                      Integrate with stock exchange APIs to fetch up-to-date information.
                      Portfolio Management:
                      Enable users to track, manage and trade stocks within their personalized portfolio.
                      In-App Payments:
                      Support secure and seamless transactions for buying and selling stocks.
                      Interactive Analytics:
                      Develop interactive charting tools to visualize stock trends, performance and market analysis.
                    </div>
                  </div>
                  <div class="tabs-item__block">
                    <div class="tabs-item__block-title">
                      Results:
                    </div>
                    <div class="tabs-item__block-text">
                      Delivered a precise and user-friendly stock trading and portfolio management app.
                      Implemented real-time updates and advanced analytics.
                      Provided an intuitive UI for seamless portfolio management.
                      Developed interactive and easy-to-use charting tools, enabling users to manage market trends and
                      stock performance easily.
                    </div>
                  </div>
                  <div class="tabs-item__block">
                    <div class="tabs-item__block-title">
                      Solution:
                    </div>
                    <div class="tabs-item__block-text">
                      Technologies:
                      Languages: Swift, JavaScript
                      Frameworks: UIKit, Combine, CoreData, URLSession / RSocket, GCD
                      Key Features:
                      Real-Time Updates: Integrated WebSocket connections to provide live market data.
                      Interactive UI: Built dynamic, touch-enabled charts for data visualization.
                      Security: Ensured secure payment processing and sensitive data encryption
                    </div>
                  </div>
                  <div class="tabs-item__block">
                    <div class="tabs-item__block-title">
                      Team:
                    </div>
                    <div class="tabs-item__block-text">
                      14 people:
                      Project Manager (1)
                      Business Analysts (3)
                      iOS Developers (4)
                      Android Developers (4)
                      QA Specialists (2)
                      Timeline:
                      5 months (~ 8500 hours)
                    </div>
                  </div>
                </div>
              </div>





              <button hidden data-fls-showmore-button type="button" class="tabs-item__btn-more btn-more">
                <span>Read More</span><span>Сlose</span></button>
            </div>

            <div class="tabs-item" data-fls-showmore="items">


              <div class="tabs-item__wrapper" data-fls-showmore-content="1">
                <div class="tabs-item__header">

                  <div class="tabs-item__img">
                    <img src="@img/portfolio/2.jpg" alt="">
                  </div>

                  <div class="tabs-item__inner-pc">
                    <h3 class="tabs-item__title">Pharma App</h3>

                    <div class="tabs-item__info-list">
                      <div class="tabs-item__info">
                        <span>Industry:
                        </span>
                        <span>E-commerce / Finance</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Number of Employees:
                        </span>
                        <span>120+</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Headquarters:
                        </span>
                        <span>Great Britain, London</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Platform:
                        </span>
                        <span>IOS</span>
                      </div>
                    </div>

                    <div class="tabs-item__request">
                      <div class="tabs-item__request-title">Client Request:</div>
                      <div class="tabs-item__request-text">
                        <p>Develop a high-performance pharmaceutical application exclusively for iOS, designed to help
                          users
                          find detailed information about medicines and locate the nearest pharmacy for purchase. The
                          app
                          must be scalable, capable of handling large-scale user traffic while ensuring a fast,
                          intuitive
                          and comfortable user experience.</p>
                      </div>
                    </div>

                  </div>
                </div>


                <div class="tabs-item__body">

                  <div class="tabs-item__inner-mob">
                    <h3 class="tabs-item__title">Pharma App</h3>
                    <div class="tabs-item__info-list">
                      <div class="tabs-item__info">
                        <span>Industry:
                        </span>
                        <span>E-commerce / Finance</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Number of Employees:
                        </span>
                        <span>120+</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Headquarters:
                        </span>
                        <span>Great Britain, London</span>
                      </div>
                      <div class="tabs-item__info">
                        <span>Platform:
                        </span>
                        <span>IOS</span>
                      </div>
                    </div>
                    <div class="tabs-item__request">
                      <div class="tabs-item__request-title">Client Request:</div>
                      <div class="tabs-item__request-text">
                        <p>Develop a high-performance pharmaceutical application exclusively for iOS, designed to help
                          users
                          find detailed information about medicines and locate the nearest pharmacy for purchase. The
                          app
                          must be scalable, capable of handling large-scale user traffic while ensuring a fast,
                          intuitive
                          and comfortable user experience.</p>
                      </div>
                    </div>
                  </div>

                  <div class="tabs-item__block">
                    <div class="tabs-item__block-title">
                      Key Tasks:
                    </div>
                    <div class="tabs-item__block-text">
                      Real-Time Market Data:
                      Design and implement a user-friendly UI to display stock market data in real-time.
                      Integrate with stock exchange APIs to fetch up-to-date information.
                      Portfolio Management:
                      Enable users to track, manage and trade stocks within their personalized portfolio.
                      In-App Payments:
                      Support secure and seamless transactions for buying and selling stocks.
                      Interactive Analytics:
                      Develop interactive charting tools to visualize stock trends, performance and market analysis.
                    </div>
                  </div>
                  <div class="tabs-item__block">
                    <div class="tabs-item__block-title">
                      Results:
                    </div>
                    <div class="tabs-item__block-text">
                      Delivered a precise and user-friendly stock trading and portfolio management app.
                      Implemented real-time updates and advanced analytics.
                      Provided an intuitive UI for seamless portfolio management.
                      Developed interactive and easy-to-use charting tools, enabling users to manage market trends and
                      stock performance easily.
                    </div>
                  </div>
                  <div class="tabs-item__block">
                    <div class="tabs-item__block-title">
                      Solution:
                    </div>
                    <div class="tabs-item__block-text">
                      Technologies:
                      Languages: Swift, JavaScript
                      Frameworks: UIKit, Combine, CoreData, URLSession / RSocket, GCD
                      Key Features:
                      Real-Time Updates: Integrated WebSocket connections to provide live market data.
                      Interactive UI: Built dynamic, touch-enabled charts for data visualization.
                      Security: Ensured secure payment processing and sensitive data encryption
                    </div>
                  </div>
                  <div class="tabs-item__block">
                    <div class="tabs-item__block-title">
                      Team:
                    </div>
                    <div class="tabs-item__block-text">
                      14 people:
                      Project Manager (1)
                      Business Analysts (3)
                      iOS Developers (4)
                      Android Developers (4)
                      QA Specialists (2)
                      Timeline:
                      5 months (~ 8500 hours)
                    </div>
                  </div>
                </div>
              </div>





              <button hidden data-fls-showmore-button type="button" class="tabs-item__btn-more btn-more">
                <span>Read More</span><span>Сlose</span></button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="page__build-app-block build-app-block">
    <div class="build-app-block__container">
      <div class="build-app-block__body">
        <div class="build-app-block__item build-app">
          <h2 class="build-app__title">Let's build your App</h2>

          <form class="build-app__form form" action="#" method="post">

            <div class="form__row">
              <label class="form__label" for="name">Name</label>
              <div class="form__input">
                <input id="name" type="text" name="name" placeholder="John" data-error="Ошибка" required
                  autocomplete="name">
              </div>
            </div>

            <div class="form__row">
              <label class="form__label" for="email">Business Email</label>
              <div class="form__input">
                <input id="email" type="email" name="email" placeholder="john@gmail.com" data-error="Ошибка" required
                  autocomplete="email">
              </div>
            </div>

            <div class="form__row">
              <label class="form__label" for="phone">Phone Number</label>
              <div class="form__input">
                <input id="phone" type="tel" name="phone" placeholder="+1 (___) ___ ____" data-error="Ошибка" required
                  autocomplete="tel">
              </div>
            </div>

            <div class="form__submit">
              <button class="btn" type="submit">Send</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="page__how-we-work how-we-work">
    <div class="how-we-work__container">
      <h2 class="how-we-work__title title">How We Work</h2>

      <div data-fls-slider class="how-we-work__slider swiper">
        <ul class="how-we-work__wrapper swiper-wrapper">
          <li class="how-we-work__slide item-hww swiper-slide">
            <div class="item-hww__header">
              <div class="item-hww__title">Discovery</div>
              <span class="item-hww__count">01</span>
            </div>
            <div class="item-hww__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque at quam vel laoreet.
                Suspendisse pharetra suscipit faucibus. Nulla consequat arcu non feugiat dignissim. Nulla rhoncus
                lorem
                purus, a convallis libero malesuada ac. Donec non euismod leo. </p>
            </div>
          </li>
          <li class="how-we-work__slide item-hww swiper-slide">
            <div class="item-hww__header">
              <div class="item-hww__title">Design</div>
              <span class="item-hww__count">02</span>
            </div>
            <div class="item-hww__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque at quam vel laoreet.
                Suspendisse pharetra suscipit faucibus. Nulla consequat arcu non feugiat dignissim. Nulla rhoncus
                lorem
                purus, a convallis libero malesuada ac. Donec non euismod leo. </p>
            </div>
          </li>
          <li class="how-we-work__slide item-hww swiper-slide">
            <div class="item-hww__header">
              <div class="item-hww__title">Development</div>
              <span class="item-hww__count">03</span>
            </div>
            <div class="item-hww__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque at quam vel laoreet.
                Suspendisse pharetra suscipit faucibus. Nulla consequat arcu non feugiat dignissim. Nulla rhoncus
                lorem
                purus, a convallis libero malesuada ac. Donec non euismod leo. </p>
            </div>
          </li>
          <li class="how-we-work__slide item-hww swiper-slide">
            <div class="item-hww__header">
              <div class="item-hww__title">QA</div>
              <span class="item-hww__count">04</span>
            </div>
            <div class="item-hww__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque at quam vel laoreet.
                Suspendisse pharetra suscipit faucibus. Nulla consequat arcu non feugiat dignissim. Nulla rhoncus
                lorem
                purus, a convallis libero malesuada ac. Donec non euismod leo. </p>
            </div>
          </li>
          <li class="how-we-work__slide item-hww swiper-slide">
            <div class="item-hww__header">
              <div class="item-hww__title">Deployment</div>
              <span class="item-hww__count">05</span>
            </div>
            <div class="item-hww__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque at quam vel laoreet.
                Suspendisse pharetra suscipit faucibus. Nulla consequat arcu non feugiat dignissim. Nulla rhoncus
                lorem
                purus, a convallis libero malesuada ac. Donec non euismod leo. </p>
            </div>
          </li>
          <li class="how-we-work__slide item-hww swiper-slide">
            <div class="item-hww__header">
              <div class="item-hww__title">Support</div>
              <span class="item-hww__count">06</span>
            </div>
            <div class="item-hww__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque at quam vel laoreet.
                Suspendisse pharetra suscipit faucibus. Nulla consequat arcu non feugiat dignissim. Nulla rhoncus
                lorem
                purus, a convallis libero malesuada ac. Donec non euismod leo. </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section>

  <section class="page__pricing pricing">
    <div class="pricing__container">
      <h2 class="pricing__title">Pricing Model</h2>
      <ul class="pricing__list">
        <li class="pricing__item item-pricing">
          <div class="item-pricing__header">
            <h4 class="item-pricing__title">Time & Material Model</h4>
          </div>

          <div class="item-pricing__body">
            <div class="item-pricing__block">
              <h5 class="item-pricing__block-title">Best for:</h5>
              <div class="item-pricing__text">
                <ul>
                  <li class="--icon-check">Unclear project scope or evolving requirements
                  </li>
                  <li class="--icon-check">Lack of technical documentation</li>
                </ul>
              </div>
            </div>
            <div class="item-pricing__block">
              <h5 class="item-pricing__block-title">How It Works:</h5>
              <div class="item-pricing__text">
                <p>Pay only for the actual hours worked on your project</p>
                <div class="item-pricing__row">
                  <span>Project Duration:</span> <span>Any</span>
                </div>
                <div class="item-pricing__row">
                  <span>Billing:</span> <span>Hourly-based invoicing</span>
                </div>
              </div>
              <p></p>
            </div>
          </div>
        </li>

        <li class="pricing__item item-pricing">
          <div class="item-pricing__header">
            <h4 class="item-pricing__title"> Fixed-Price Model</h4>
          </div>

          <div class="item-pricing__body">
            <div class="item-pricing__block">
              <h5 class="item-pricing__block-title">Best for:</h5>
              <div class="item-pricing__text">
                <ul>
                  <li class="--icon-check">Well-defined project scope and specifications
                  </li>
                  <li class="--icon-check">Availability of technical documentation</li>
                  <li class="--icon-check">Clear requirements for the mobile app</li>
                </ul>
              </div>
            </div>
            <div class="item-pricing__block">
              <h5 class="item-pricing__block-title">How It Works:</h5>
              <div class="item-pricing__text">
                <p>Develop your project with a predefined budget and cost certainty</p>
                <div class="item-pricing__row">
                  <span>Project Duration:</span> <span>1-6 months</span>
                </div>
                <div class="item-pricing__row">
                  <span>Billing:</span> <span>Cost based on project estimates</span>
                </div>
              </div>
              <p></p>
            </div>
          </div>
        </li>

        <li class="pricing__item item-pricing">
          <div class="item-pricing__header">
            <h4 class="item-pricing__title">Dedicated Team Model</h4>
          </div>

          <div class="item-pricing__body">
            <div class="item-pricing__block">
              <h5 class="item-pricing__block-title">Best for:</h5>
              <div class="item-pricing__text">
                <ul>
                  <li class="--icon-check">Businesses requiring a full-time development team

                  </li>
                  <li class="--icon-check">Companies seeking maximum control over the development process</li>
                </ul>
              </div>
            </div>
            <div class="item-pricing__block">
              <h5 class="item-pricing__block-title">How It Works:</h5>
              <div class="item-pricing__text">
                <p>Build a flexible team with the exact skills you need, working exclusively on your project.</p>
                <div class="item-pricing__row">
                  <span>Project Duration:</span> <span>From 1 month</span>
                </div>
                <div class="item-pricing__row">
                  <span>Billing:</span> <span>Monthly fixed price</span>
                </div>
              </div>
              <p></p>
            </div>
          </div>
        </li>

      </ul>
      <a href="#" class="pricing__btn btn">get free estimate</a>
    </div>

  </section>

  <section class="page__questions questions">
    <div class="questions__container">
      <h2 class="questions__title">Frequently Asked Questions</h2>

      <div data-fls-spollers class="spollers">
        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              What programming languages do you use for mobile app development?
            </div>
          </summary>
          <div class="spollers__body">
            We seamlessly work with both Apple's native libraries and third-party services. We create scalable,
            high-performance applications that perfectly meet your expectations. We’re used to implement <a href="#">Combine</a> for
            reactive programming, <a href="#">SPM</a> for dependency management, and URLSession or Alamofire for networking. Our process
            is powered by industry-leading tools such as <a href="#">Xcode</a>, <a href="#">Instruments</a>, XCTest and CI/CD integrations to ensure a
            seamless workflow and exceptional app quality.
            Talking about user interface development, we specialize in developing flexible, reusable components that
            adhere precisely to Apple's Human Interface Guidelines (HIG). Our primary frameworks, UIKit and SwiftUI,
            enable us to craft adaptive and high-quality user interfaces. 
            Additionally, we maintain support for legacy approaches such as Storyboards and Xibs. And we seamlessly
            integrate third-party frameworks like Lottie and SnapKit to further enhance functionality and visual appeal.
          </div>
        </details>

        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              What iOS development frameworks and tools do you use?
            </div>
          </summary>
          <div class="spollers__body">
            We seamlessly work with both Apple's native libraries and third-party services. We create scalable,
            high-performance applications that perfectly meet your expectations. We’re used to implement <a href="#">Combine</a> for
            reactive programming, <a href="#">SPM</a> for dependency management, and URLSession or Alamofire for networking. Our process
            is powered by industry-leading tools such as <a href="#">Xcode</a>, <a href="#">Instruments</a>, XCTest and CI/CD integrations to ensure a
            seamless workflow and exceptional app quality.
            Talking about user interface development, we specialize in developing flexible, reusable components that
            adhere precisely to Apple's Human Interface Guidelines (HIG). Our primary frameworks, UIKit and SwiftUI,
            enable us to craft adaptive and high-quality user interfaces. 
            Additionally, we maintain support for legacy approaches such as Storyboards and Xibs. And we seamlessly
            integrate third-party frameworks like Lottie and SnapKit to further enhance functionality and visual appeal.
          </div>
        </details>

        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              Do you use reactive programming in app development?
            </div>
          </summary>
          <div class="spollers__body">We seamlessly work with both Apple's native libraries and third-party services.
            We create scalable, high-performance applications that perfectly meet your expectations. We’re used to
            implement Combine for reactive programming, SPM for dependency management, and URLSession or Alamofire for
          </div>
        </details>

        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              How do you handle concurrency in iOS development?
            </div>
          </summary>
          <div class="spollers__body">We seamlessly work with both Apple's native libraries and third-party services.
            We create scalable, high-performance applications that perfectly meet your expectations. We’re used to
            implement Combine for reactive programming, SPM for dependency management, and URLSession or Alamofire for
          </div>
        </details>

        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              What mapping and location services do you integrate in mobile apps?
            </div>
          </summary>
          <div class="spollers__body">We seamlessly work with both Apple's native libraries and third-party services.
            We create scalable, high-performance applications that perfectly meet your expectations. We’re used to
            implement Combine for reactive programming, SPM for dependency management, and URLSession or Alamofire for
          </div>
        </details>

        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              How do you handle networking and API integrations?
            </div>
          </summary>
          <div class="spollers__body">We seamlessly work with both Apple's native libraries and third-party services.
            We create scalable, high-performance applications that perfectly meet your expectations. We’re used to
            implement Combine for reactive programming, SPM for dependency management, and URLSession or Alamofire for
          </div>
        </details>

        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              What tools do you use for dependency management?
            </div>
          </summary>
          <div class="spollers__body">We seamlessly work with both Apple's native libraries and third-party services.
            We create scalable, high-performance applications that perfectly meet your expectations. We’re used to
            implement Combine for reactive programming, SPM for dependency management, and URLSession or Alamofire for
          </div>
        </details>

        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              How do you ensure app quality and testing?
            </div>
          </summary>
          <div class="spollers__body">We seamlessly work with both Apple's native libraries and third-party services.
            We create scalable, high-performance applications that perfectly meet your expectations. We’re used to
            implement Combine for reactive programming, SPM for dependency management, and URLSession or Alamofire for
          </div>
        </details>

        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              Do you use CI/CD (Continuous Integration / Continuous Deployment)?
            </div>
          </summary>
          <div class="spollers__body">We seamlessly work with both Apple's native libraries and third-party services.
            We create scalable, high-performance applications that perfectly meet your expectations. We’re used to
            implement Combine for reactive programming, SPM for dependency management, and URLSession or Alamofire for
          </div>
        </details>

        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              What utilities and tools do you use for code quality?
            </div>
          </summary>
          <div class="spollers__body">We seamlessly work with both Apple's native libraries and third-party services.
            We create scalable, high-performance applications that perfectly meet your expectations. We’re used to
            implement Combine for reactive programming, SPM for dependency management, and URLSession or Alamofire for
          </div>
        </details>

        <details class="spollers__item">
          <summary class="spollers__title --icon-arr-spoller">
            <div class="spollers__title-text ">
              What architectural approaches do you use in app development?
            </div>
          </summary>
          <div class="spollers__body">We seamlessly work with both Apple's native libraries and third-party services.
            We create scalable, high-performance applications that perfectly meet your expectations. We’re used to
            implement Combine for reactive programming, SPM for dependency management, and URLSession or Alamofire for
          </div>
        </details>


      </div>
    </div>
  </section>

</main>