<footer data-fls-footer class="footer">
	<div class="footer__container">

		<div class="footer__build-app">
			<div class="build-app">
				<h2 class="build-app__title">Let's build your App</h2>

				<form class="build-app__form form" action="#" method="post">

					<div class="form__row">
						<label class="form__label" for="name">Name</label>
						<div class="form__input">
							<input id="name" type="text" name="name" placeholder="John" data-error="Ошибка" required
								autocomplete="name">
						</div>
					</div>

					<div class="form__row">
						<label class="form__label" for="email">Business Email</label>
						<div class="form__input">
							<input id="email" type="email" name="email" placeholder="john@gmail.com" data-error="Ошибка" required
								autocomplete="email">
						</div>
					</div>

					<div class="form__row">
						<label class="form__label" for="phone">Phone Number</label>
						<div class="form__input">
							<input id="phone" type="tel" name="phone" placeholder="+1 (___) ___ ____" data-error="Ошибка" required
								autocomplete="tel">
						</div>
					</div>

					<div class="form__submit">
						<button class="btn" type="submit">Send</button>
					</div>

				</form>
			</div>

		</div>

		<div class="footer__body">
			<ul class="footer__contacts contacts-list">
				<li class="contacts-list__item">
					<span class="contacts-list__title">Email:</span>
					<a href="mailto:App4U@gmail.com" class="contacts-list__link">App4U@gmail.com</a>
				</li>
				<li class="contacts-list__item">
					<span class="contacts-list__title">Telegram:</span>
					<a href="#" class="contacts-list__link">@App4U.Develop</a>
				</li>
				<li class="contacts-list__item">
					<span class="contacts-list__title">Linked In:</span>
					<a href="#" class="contacts-list__link">linkedin.com/in/App4U</a>
				</li>
			</ul>

			<span class="footer__copy">Copyright © 2025 App4U. All rights reserved.</span>
		</div>


	</div>
	<div class="footer__bg">
	</div>
</footer>